{% extends 'base.html.twig' %}

{% block title %} Zeiterfassung {% endblock %}

{% block body %}
    <h1>vorhandene Nutzer:</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nutzer ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {{ user.getID() }}
                </td>
                <td>
                    {{ user.getName() }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}