{% extends 'base.html.twig' %}

{% block title %} Arbeitszeiten {{ user.getName() }} {% endblock %}

{% block body %}
    <h1>{{ user.getName() }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tag</th>
                <th>Arbeitszeit</th>
            </tr>
        </thead>
        <tbody>
        {% for data in workday_data %}
            <tr>
                <td>{{ data[0].getDate().format('d.m.Y') }}</td>
                <td>{{ data[1] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}